<div class="service-panel col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="service-title">
                <h4 class="text-center">@Model.FirstName @Model.LastName</h4>
            </div>
        </div>
        <div class="panel-body">
            <img class="service-img img-responsive" src="@Model.associatedImg" />
            <div class="service-desc">
                @Model.Bio
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                @if (Request.IsAuthenticated)
                {
                <span class="pull-right">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </span>}
                <span class="pull-right">@Model.Phone &nbsp; @Model.Email</span>
            </div>
        </div>
    </div>
</div>
